body {
    width: 300px;
    margin: 0 auto;
}
div {
    width: 90px;
    height: 90px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 90px;
}
.clear {
    clear: both;
}
.border {
    border: solid;
}
.no-top-border {
    border-top: none;
}
.no-bot-border {
    border-bottom: none;
}
.no-left-border {
    border-left: none;
}
.no-right-border {
    border-right: none;
}
.circle {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 15px;
    border: solid 7px;
}